{% extends 'main/base.html' %}

{% block title %}
Добавить документ
{% endblock %}

{% block content %}
<div xmlns="http://www.w3.org/1999/html">
      <div class="row justify-content-center" style="color: grey">
          <h3>Создание документа</h3>
      </div>
</div>
<div class="container">
    <form method="post">
        {% csrf_token %}
        {{ form.title }}<br>
        {{ form.doc_author }}<br>
        {{ form.doc_author_department }}<br>
        {{ form.approval_date }}<br>
        {{ form.revision_date }}<br>
        {{ form.doc_source }}<br>
        {{ form.doc_url }}<br>
        {{ form.note }}<br>
        <button type="submit" class="btn btn-success">Добавить</button>
        <a href="{% url 'home' %}" class="btn btn-outline-success">На главную страницу</a>
        <span>{{ error }}</span>
    </form>
</div>
{% endblock %}
