{% extends 'main/base.html' %}

{% block title %}
Страница про нас
{% endblock %}

{% block content %}
<div xmlns="http://www.w3.org/1999/html">
    <div class="row justify-content-center" style="color: grey">
        <h3>Удаление документа</h3>
    </div>
</div>
<div>
    <div class="container">
    <form method="get">
        {% csrf_token %}
                <table class="table">
            <tr>
                <td width="20%"><a class="row justify-content-center" style="color: grey">Документ</a></td>
                <td width="80%"><input class="form-control" type="text" name="title" value="{{ document.title }}"/></td>
            </tr>
            <tr>
                <td width="20%"><a class="row justify-content-center" style="color: grey">Автор</a></td>
                <td width="80%"><input class="form-control" type="text" name="doc_author" value="{{ document.doc_author }}"/></td>
            </tr>
            <tr>
                <td width="20%"><a class="row justify-content-center" style="color: grey">Отдел</a></td>
                <td width="80%"><input class="form-control" type="text" name="doc_author_department" value="{{ document.doc_author_department }}"/></td>
            </tr>
            <tr>
                <td width="20%"><a class="row justify-content-center" style="color: grey">Дата утверждения</a></td>
                <td width="80%"><input class="form-control" type="date" name="approval_date" value="{{ document.approval_date | date:'Y-m-d' }}"/></td>
            </tr>
            <tr>
                <td width="20%"><a class="row justify-content-center" style="color: grey">Дата пересмотра</a></td>
                <td width="80%"><input class="form-control" type="date" name="revision_date" value="{{ document.revision_date | date:'Y-m-d' }}"/></td>
            </tr>
            <tr>
                <td width="20%"><a class="row justify-content-center" style="color: grey">Источник</a></td>
                <td width="80%"><input class="form-control" type="text" name="doc_source" value="{{ document.doc_source }}"/></td>
            </tr>
            <tr>
                <td width="20%"><a class="row justify-content-center" style="color: grey">Ссылка на документ</a></td>
                <td width="80%"><input class="form-control" type="text" name="doc_url" value="{{ document.doc_url }}"/></td>
            </tr>
            <tr>
                <td width="20%"><a class="row justify-content-center" style="color: grey">Комментарий</a></td>
                <td width="80%"><input class="form-control" type="text" name="note" value="{{ document.note }}"/></td>
            </tr>
        </table>

        <a href="/delete/{{document.id}}" class="btn btn-danger">Удалить</a>
        <a href="{% url 'home' %}" class="btn btn-outline-success">На главную страницу</a>
        <span>{{ error }}</span>
    </form>
</div>


</div>
{% endblock %}
