{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}
{% block content %}

<table class="table">
    <td width="250">
        <div> <a class="text-dark" href="{% url 'home' %}">Зарегистрированные: {{ count_all }}</a></div>
        <div> <a class="text-success" href="?r=ok">Актуальные: {{ count_ok }}</a></div>
        <div> <a class="text-warning" href="?r=warn">Требуют внимания: {{ count_warn }}</a></div>
        <div> <a class="text-danger" href="?r=err">Требуют пересмотра: {{ count_err }}</a></div>
    </td>
    <td>
        <div class="container">
            <form class="form-inline"  method="get">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col"><a>Поиск по тексту</a></th>
                        <th scope="col"><a>Утвержден от</a></th>
                        <th scope="col"><a>Утвержден до</a></th>
                        <th scope="col"><a>Автор</a></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <input name="q" type="text" class="form-control"  placeholder= "&#xF002; Поиск на странице" style="font-family:Arial, FontAwesome">
                        </td>
                        <td>
                            <input name="date_start" type="date" class="form-control" id=before>
                            <script>
                                date = new Date();
                                dif = 3461;
                                result = date.setDate(date.getDate() - dif);
                                document.getElementById('before').value = new Date(result).toISOString().substring(0, 10);
                            </script>
                        </td>
                        <td>
                            <input name="date_end" type="date" class="form-control" id=now>
                            <script>
                                document.getElementById('now').value = new Date().toISOString().substring(0, 10);
                            </script>
                        </td>
                        <td>
                            <select name="person" type="text" class="form-control">
                                <option></option>
                                {% for auth in authors %}
                                <option>{{ auth }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <a><button type="submit" class="btn btn btn-outline-success">Найти</button></a>
                            <a href="{% url 'home' %}" class="btn btn btn-outline-success">Сброс</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </td>
</table>

{% if documents %}

<table class="table table-hover table table-bordered">
  <thead style="position: sticky;top: 0" class="thead-light">
    <tr>
        <th colspan = "2" scope = "colgroup"><a style="color: black">Документ</a>
            <a style="color: black" class="btn-sm btn-sm btn-online-secondary" href="?order_by=title">
                &#9650;
            </a>
            <a style="color: black" class="btn-sm btn-online-secondary" href="?order_by=-title">
                &#9660;
            </a>
        </th>
        <th scope="col"><div style="color: black"><a style="color: black">Автор</a>
            <a style="color: black" class="btn-sm btn-sm btn-online-secondary" href="?order_by=doc_author">
                &#9650;
            </a>
            <a style="color: black" class="btn-sm btn-online-secondary" href="?order_by=-doc_author">
                &#9660;
            </a>
        </div>
        </th>
        <th scope="col"><div style="color: black"><a style="color: black">Отдел</a>
            <a style="color: black" class="btn-sm btn-sm btn-online-secondary" href="?order_by=doc_author_department">
                &#9650;
            </a>
            <a style="color: black" class="btn-sm btn-online-secondary" href="?order_by=-doc_author_department">
                &#9660;
            </a>
        </div>
        </th>
        <th scope="col"><a style="color: black">Дата утв.</a>
            <a style="color: black" class="btn-sm btn-sm btn-online-secondary" href="?order_by=approval_date">
                &#9650;
            </a>
            <a style="color: black" class="btn-sm btn-online-secondary" href="?order_by=-approval_date">
                &#9660;
            </a>
        </th>
        <th scope="col"><a style="color: black">Дата пересм.</a>
            <a style="color: black" class="btn-sm btn-sm btn-online-secondary" href="?order_by=revision_date">
                &#9650;
            </a>
            <a style="color: black" class="btn-sm btn-online-secondary" href="?order_by=-revision_date">
                &#9660;
            </a>
        </th>
        <th scope="col"><a style="color: black">Источник</a>
            <a style="color: black" class="btn-sm btn-sm btn-online-secondary" href="?order_by=doc_source">
                &#9650;
            </a>
            <a style="color: black" class="btn-sm btn-online-secondary" href="?order_by=-doc_source">
                &#9660;
            </a>
        </th>
        <th colspan = "3" scope = "colgroup"><a style="color: black">Комментарий</a>
            <a style="color: black" class="btn-sm btn-sm btn-online-secondary" href="?order_by=note">
                &#9650;
            </a>
            <a style="color: black" class="btn-sm btn-online-secondary" href="?order_by=-note">
                &#9660;
            </a>
        </th>
    </tr>
  </thead>

    {% for el in documents %}

    <tbody>
    <tr>
        <td scope="row" style="width:20px;">
            {% if el.revision_date > now and el.revision_date <= warn %} <a> &#9888; </a> {% endif %}
            {% if el.revision_date <= now %} <a> &#128315; </a> {% endif %}
            {% if el.revision_date > warn %} <a style="color:green"> &#10004; </a> {% endif %}
        </td>
        <td scope="row" style="width:600px;">
            <a target="_blank" href={{ el.doc_url }} style="color: black">
                {{ el.title }}
            </a>
        </td>
        <td style="color: black">
            {{ el.doc_author }}
        </td>
        <td style="color: black">
            {{ el.doc_author_department }}
        </td>
        <td style="color: black">
            {{ el.approval_date |date:"Y-m-d" }}
        </td>
        <td style="color: black">
            {{ el.revision_date |date:"Y-m-d" }}
        </td>
        <td style="color: black">
            {{ el.doc_source }}
        </td>
        <td style="width:500px;">
            {{ el.note }}
        </td>
        {% if user.is_authenticated %}
        <td style="width:20px;">
            <a href="change/{{el.id}}" style="color:green"><h5> &#128221; </h5></a>
        </td>
        <td style="width:20px;">
            <a href="delete_conf/{{el.id}}" style="color:red"><h5>&#10007;</h5></a>
        </td>
        {% endif %}
    </tr>
    </tbody>

    {% endfor %}
        <script>
            date = new Date();
            dif_err = 1095;
            err = date.setDate(date.getDate() - dif_err);
            warn = date.setDate(date.getDate() - dif_err + 30);
            let colors = document.getElementById('colors');
            colors.style.color = 'red';
        </script>
</table>

{% else %}

        <a class="container">
            <div class="container">
                <div class="row justify-content-center" style="color: black">
                    <h5 style="color: gray">У нас нет записей, удовлетворяющих условиям поиска!</h5>
                </div>
            </div>
        </a>

{% endif %}
{% endblock %}